<form method="post" action="/articles/<%= @article.id %>/edit">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  Name of dish: <input type='text' name='name' value=<%= @article.name %> >
  Ingredients: <input type='text' name='ingredients' value=<%= @article.ingredients %> >
  <input type="submit" name="Submit">
</form>